@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;
<div class="footer">
    <div class="footer-upper">
        <div class="footer-block follow-us">
            <div class="social">
                <div class="title">
                    <strong>@T("Footer.FollowUs")</strong>
                </div>
                @Html.Action("Social", "Common")
            </div>
            <div class="btn-contact"><a href="@Url.RouteUrl("ContactUs")"class="btn">@T("ContactUs")</a></div>
        </div>
        <div class="lt_footer">
            <h3>CÔNG TY CỔ PHẦN CƠ ĐIỆN TỬ ASO</h3>
            <h5>
                Điện thoại: (084) 3645669 - Fax: (084) 280.3645667 <br />
                Website: http://www.aso.com.vn - http://www.aso.vn <br /> 
                Email: codientu@aso.com.vn; asojsc@gmail.com
            </h5>
        </div>
    </div>
    <div class="footer-lower">
        <div class="footer-info">
            Địa chỉ: KM 15, Quốc lộ 3 TX Sông Công - Thái Nguyên - Việt Nam
        </div>
        <div class="footer-powered-by">
            Powered by <a href="#">ASO</a>
        </div>
        @Html.Action("StoreThemeSelector", "Common")
    </div>
    @Html.Widget("footer")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.footer-block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>