@model HomePageNewsItemsModel
@using Nop.Web.Models.News;
<div class="container_aso">
    <h3 class="title_slider">
        @T("home.news.title")
    </h3>
    <div class="owl-carousel  owl-carousel-news">
        @if (Model.NewsItems.Count > 0)
        {
            foreach (var item in Model.NewsItems)
            {
                <div class="col-item">
                    <div class="photo">
                        <img src="@Url.Content("~/Content/Images/Thumbs/"+item.Picture)" class="img-responsive" alt="a" />
                    </div>
                    <div class="info">
                        <span class="news-date">@item.CreatedOn.ToString("D")</span>
                        <h3>
                            <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a>
                        </h3>
                        <div class="news-body">
                            @Html.Raw(item.Short)
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>