@using Nop.Plugin.Teams.Aso.Data;
@model FieldWorkRecord
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
@section Breadcrumb_line {
    <div class="headtitle">
        <div class="container_aso">
            <h2 class="title">@("lv-hd")<h2>
        </div>
    </div>
}
<div class="page news-item-page">
    <div class="page-title">
        <h1>@Model.Title</h1>
    </div>
    <div class="page-body">
        <div class="detail_img">
            <img src="@Url.Content("~/Content/Images/Thumbs/"+Model.Image)" class="img-responsive" alt="a" />
        </div>
        <div class="news-date">
            @Model.Create_at.ToString("D")
        </div>
        <div class="news-body">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>